 img{
	width: 100%;
	height: 100%;
}

.head_img{
	width: 100%;
	height: 3.3rem;
}
.chief_img{
	width: 100%;
	height: 3.3rem;
}
/* 输入小票号的框 */
.small_mouth{
	width: 100%;
	height: 0.88rem;
	margin-top: 0.66rem;
}
.small_mouth input{
	width: 5.94rem;
	height: 0.88rem;
	border: none;
    outline: none;
    background: #f4f5f9;
    margin-left: .76rem;
	line-height: .88rem;
	text-align: center;
	color: #b3b3b3;
	font-size: 0.28rem;
    border-top-left-radius: .08rem;
    border-bottom-left-radius: .08rem;
}
/* 上传小票图片 */
.pictures{
	width: 100%;
	height: 1.8rem;
    margin-top: 0.66rem;
}
.upload_pictures {
    display: inline-block;
    width: 5.94rem;
    height: 1.8rem;
    border: .01rem dashed #d6d5d9;
	/* border-radius: .02rem; */
	margin-left: .76rem;
}
.upload_pictures .add{
	width: 5.94rem;
	height: 1.8rem;
	line-height: 1.8rem;
	text-align: center;
	font-size: 0.28rem;
	color: #b3b3b3;
}
/* 上传，重置  */
.push_button{
	width: 100%;
	height: 0.88rem;
	overflow: hidden;
	margin-top: 0.36rem;
	display: none;
}
.up{
	width: 4.3rem;
	height: 0.88rem;
	background: #333;
    line-height: .88rem;
    text-align: center;
    border-radius: .08rem;
	color: #fff;
	font-size: 0.3rem;
	float: left;
	margin-left: 0.75rem;
	/* display: none; */
}
.below{
	width: 1.2rem;
	height: 0.88rem;
	background: #333;
    line-height: .88rem;
    text-align: center;
    border-radius: .08rem;
	color: #fff;
	font-size: 0.3rem;
	float: left;
	margin-left: 0.34rem;
	/* display: none; */
}
/* 历史记录 */
.history{
	width:100%;
	height: 0.27rem;
	margin-top: 0.36rem;
	padding-left: 5.7rem;
}
.w_history{
	width: 1.2rem;
	height: 0.27rem;
	line-height: 0.27rem;
	color: #666666;
	font-size: 0.22rem;
	/* margin-left: 5.55rem; */
}
.L_history{
	width: 1.0rem;
	height: 0.02rem;
	background:#666666;
	/* margin-left: 5.55rem;  */
}
/* 补贴规则 */
.rule{
	width: 100%;
	height: 2.7rem;
	margin-top: 0.4rem;
}
.t_rule{
	width: 60%;
	height: 0.4rem;
	line-height: 0.4rem;
	font-size: 0.26rem;
	color: #333;
	margin-left: 0.26rem;
}
.rule ul{
	width: 100%;
	height: 100%;
	margin-top: 0.3rem;

}
.rule ul li{
	width: 100%;
	height: 0.4rem;
	line-height: 0.4rem;
	font-size: 0.24rem;
	color: #666666;
	margin-left: 0.26rem;
}

/*弹框*/
.warm_title{
	text-align: center;
	border-bottom: .01rem solid #ebebeb;
}
.warm_title h4{
	margin: 0;
	font-size: .3rem;
	color: #333;
	margin-top:.34rem;
}
.warm_title p{
	margin: 0;
	font-size: .26rem;
	color: #666;
	margin-bottom: .34rem;
}
.warm_choose a{
	display: inline-block;
	width:100%;
	height: .8rem;
	line-height: .8rem;
	text-align: center;
	font-size: .32rem;
}
.warm_cancel{
	color: #666;
	float: right;
}
.warm_login{
	color: #fd4848;
	float: left;
}